.comonSection {
  margin-top: 50px;
}

.comonHeading {
  font-size: 25px;
  color: #333333;
  text-transform: uppercase;
  line-height: .8;
  margin: 0 0 47px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.checkoutForms input {
  width: 100%;
  height: 50px;
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #a1a1a1;
  font-size: 14px;
}

.chek_label {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 7px 0px;
  text-transform: uppercase;
  display: block;
}

.checkoutForms textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #d1d1d1;
  padding: 12px 20px;
  color: #333333;
  font-size: 14px;
  letter-spacing: .21px;
  font-family: "Poppins", sans-serif;
  resize: none;
}


.orderbg {
  padding: 20px;
  background: #fff;
  margin-bottom: 40px;
}

.orderbg.mar30 {
  margin-bottom: 30px;
}

#order_review {
  background: #f6f6f6;
  padding: 30px;
}

.checkout-order table {
  height: auto;
  margin-bottom: 5px;
  width: 100%;
}

.checkout-order table thead tr th {
  border-bottom: 1px solid #e6e6e6;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  padding-top: 7px;
}

.checkout-order table thead tr th.product-name {
  width: 64%;
}

.checkout-order tbody tr td {
  color: #777777;
  font-size: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.checkout-order tbody tr:last-child td {
  padding-bottom: 23px;
}

.checkout-order tr td span {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.checkout-order tr td strong {
  font-weight: normal;
}

.checkout-order tbody tr:first-child td {
  padding-top: 23px;
}

.checkout-order tfoot tr th {
  border-top: 1px solid #e4e4e4;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  padding: 18px 0 16px 10px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.checkout-order tfoot tr th:last-child {
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  color: #262626;
  text-transform: capitalize;
  font-weight: normal;
}

.checkout-order tfoot tr:first-child th,
.checkout-order tfoot tr:first-child td {
  border: none;
}

.checkout-order tfoot tr td {
  border-top: 1px solid #e4e4e4;
  color: #262626;
  font-size: 15px;
  font-weight: 400;
  padding: 21px 0 19px 10px;
  text-transform: uppercase;
}

.checkout-order tfoot tr.order-total td span {
  color: #222222;
  font-weight: 600;
}

.checkout-payment {
  padding-left: 10px;
  position: relative;
}

.checkout-payment input {
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  margin-right: 17px;
  margin-top: 0;
  position: relative;
}

.checkout-payment label {
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 14px;
  text-transform: uppercase;
}

.vol_btn {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  border: thin solid #000000;
  height: 50px;
  padding: 20px 42px 18px;
  font-family: 'Poppins', sans-serif;
  transition: all ease 500ms;
  background: #222;
  border-color: #222;
  color: #fff !important;
}

.vol_btn:hover {
  opacity: 1;
  visibility: visible;
  top: 0;
  color: #fff !important;
  background: #000000;
}
