<section class="pageTitleSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pageTitleContent">
          <h2>THÔNG TIN CỦA CHÚNG TÔI</h2>
          <div class="breadcrumbs">
            <a href="" [routerLink]="['/']">TRANG CHỦ</a> &nbsp;/ &nbsp;<a href="#" [routerLink]="['/about']">THÔNG TIN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="comonSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>XIN GIỚI THIỆU BẠN VỀ CỬA HÀNG CỦA CHÚNG TÔI</h2>
          <p>
            Thế giới thời trang gần 20 năm qua đã quen thuộc câu nói: “Thời trang là cách biểu hiện tối đa cá tính mỗi người”. Ở Việt Nam thấy phần lớn mọi người thường chú trọng nhiều tới cái gọi là “mốt”, cứ vài ba tháng là một mốt mới được lăng xê, đám đông chị em phụ nữ chạy theo mải miết để rồi vài ba tháng sau lại xếp nó vào trong tủ để chạy theo kiểu mốt khác. Nhưng sự thật “mốt” là một vòng quay lặp lại từ người này sang người khác, có chăng là một chút biến tấu và cách điệu, hay nói đúng hơn người ta mua sắm theo một tâm lý “hội chứng đám đông”. Vậy những đối tượng có sự tinh tế, gu thẩm mỹ và yêu cầu khắt khe sẽ dừng lại ở đâu? Đến với thời trang Lenka để sở hữu cho mình những bộ đồ tinh tế, có gu thâm mỹ với sức lôi cuốn đến kỳ lạ.
          </p>
          <p>
            Ra đời năm 2019, thời trang MANH với mục tiêu trở thành một trong những shop mua sắm thời trang online uy tín hàng đầu Việt Nam. Tại đây quý khách có thể mua sắm trực tuyến các sản phẩm thời trang với giá bán buôn và bán sỉ : quần áo, thời trang hàng hiệu, thời trang nam, thời trang nam nữ, phụ kiện thời trang nam nữ, thời trang hàn quốc, MANH sẽ đáp ứng mọi nhu cầu mua sắm thời trang online của quý khách bất cứ lúc nào.
          </p>
        </div>
        <div>
          <h2>
            HỆ THỐNG CỬA HÀNG CỦA CHÚNG TÔI
          </h2>
          <p>1. Đống Đa, Hà Nội</p>
          <p>2. Tân Định, Q1, HCM</p>
        </div>
      </div>
      <div class="col-lg-12">
        <div>
          <h2>ĐĂNG KÝ NHẬN TIN </h2>
          <p>Hãy đăng ký Email của bạn để trở thành khách hàng đầu tiên được nhận thông tin ưu đãi mới nhất từ của hàng của chúng tôi.</p>
          <form action="#" method="post">
            <input type="email" placeholder="Enter your Email id" name="sub_email">
            <button name="sub_submit" type="submit" class="poppins">ĐĂNG KÝ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
