@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=vietnamese');

.comonSection{
    margin-top: 50px;
}
img {
    width: auto;
    height: 100px;
}
button{
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 50px;
    background: #222222;
    border-radius: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .195px;
    font-family: 'OpenSans', sans-serif;
    padding-top: 4px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#table{
    margin-top: 50px;
}